*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(241, 72, 171);
    padding: 50px;
}
.corpo{
    background-color: rgb(245, 146, 207);
}
.footer{
    background-color: rgb(238, 23, 148);
}