*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(241, 72, 171);
    padding: 50px;
}
.corpo{
    background-color: rgb(245, 146, 207);
}
.footer{
    background-color: rgb(238, 23, 148);
    
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 2px;
}
.boton:hover{
    background-color: rgb(216, 35, 135);
}
.boton:active{
    font-size: 10px;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}