{
    margin: 0;   
    padding: 0;
   }
   :root{
   
   }
   .cabecalho{
       background-color: #d60969;
       padding: 30px;
   }
   .corpo{
       background-color: #ca428f;
   }
   .footer{
       background-color: #e9559f;
   }
   .boton{
       position: fixed;
       top: 20px;
       left: 20px;
       padding: 10px 20px;
       background-color:#ffffff ;
       color: rgb(15, 7, 24);
       text-decoration: none;
       border-radius: 5px;
   }
   .boton:hover{
       background-color: #a3017b;
   }
   .boton:active{
       font-size: 20px;
   }
   h2{
       text-align: center;
   }
   h3{
       text-align: center;
   }
   .video-grid {
       display: grid;
       grid-template-columns: repeat(auto-fit, mimax(300px, 1fr)
       gap: 20px;
   }
   .video-item { 
       background-color: #f56dd3;
       padding: 10px;
       border-radius: 8px;
       box-shadow: #D895DA;
       height: 200px;
   }